<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- The official NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Your private GitHub Packages feed -->
    <add key="github" value="https://nuget.pkg.github.com/kumarkapil29/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="kumarkapil29" />
      <add key="ClearTextPassword" value="%NUGET_PAT%" />
    </github>
  </packageSourceCredentials>
</configuration>
